<div style="text-align:left;">
<h3>FAQ</h3>
<ul>
<li><b>What is <TMPL_VAR site_name>?</b><br><br>
<TMPL_VAR site_name> is a free file hosting provider, and it's mainly used to share files that are too big to be sent via e-mail.<br>
With <TMPL_VAR site_name> you can host files, images, videos, audio and flash on the same place and as long as they remain active they can be downloaded unlimited times.
<br><br>
 
<li><b>Can I search for files other people uploaded?</b><br><br>
No, because not everyone wishes to share the files they upload with everyone else. This way <TMPL_VAR site_name> can be used to share files with anyone you choose to, as well as keep it for yourself as a backup or to download from anywhere in the world.
<br><br>
 
<li><b>What kind of files can be uploaded?</b><br><br>
All kinds: from your party photos to an important document.
The only restrictions are for pornography, nudity, sexual images and any kind offensive material, and, of course, copyrighted material. Please refer to our TOS for more info on <TMPL_VAR site_name> terms of service. 
<br><br>
 
<li><b>How to delete a file I uploaded?</b><br><br> 
To delete a file you uploaded you must use Delete Link that was provided to you after the upload proccess.
<br>
If you lost your removal code you can simply wait until the file expires so it will be automatically removed from our site.
<br><br>
 
<li><b>Can I hotlink the stuff I upload?</b><br><br>
No. Hotlinking is not allowed on any kind of files uploaded to our servers.
<br><br>
 
<li><b>I still have questions, what should I do?</b><br><br>
If you still have questions regarding our services don't hesitate to contact us using our <a href="contact.html">contact form</a>.
</ul>
</div>