<div style="text-align:left">
<h3>Terms of Service</h3>
This <TMPL_VAR site_name> Service Agreement (the "Agreement") describes the terms and conditions on which <TMPL_VAR site_name> ("we") offer services to you ("User"). By using our services, User agrees to be bound by the following terms and conditions:

<ul> 
<li>We reserve the right to disable direct linking on user accounts that are using excessive bandwidth or otherwise abusing the system.<br><br>
  
<li>Pornography, nudity, sexual images and any kind offensive images or videos are prohibited. Copyrighted material are also strictly prohibited. We reserve the right to decide appropriate content and can delete images or videos at any time without User notification.<br><br>
  
<li>Users must agree to comply with all laws which apply to their location, including copyright and trademark laws. Images, videos and files that violate copyrights or trademarks are not allowed. If someone has an infringement claim against you, you will be asked to remove the copyrighted file until the issue is resolved. If there is a dispute between participants on this site, <TMPL_VAR site_name> is under no obligation to become involved.<br><br>
  
<li><TMPL_VAR site_name> is not liable for your images, videos or files or any lost business due to the unavailability or loss of the website. We make no claims of future reliability in serving, hosting or storing your images, videos or files.<br><br>
</ul>
<br>
<TMPL_VAR site_name> is commited to cooperate with any and all legal authorities if an investigation should arise.
<br><br>Abuse report: <a href="mailto:<TMPL_VAR abuse_email>"><TMPL_VAR abuse_email></a>
</div>