<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<HEAD>
<Title><TMPL_VAR site_name> - Easy way to share your files</Title>
<script language="JavaScript" type="text/javascript" src="<TMPL_VAR site_url>/xupload.js"></script>
<link rel="stylesheet" type="text/css" href="<TMPL_VAR site_url>/main.css">
</HEAD>
<BODY>

<Center>
<div style="width:680px;">
<a href="<TMPL_VAR site_url>"><img src="<TMPL_VAR site_url>/images/logo.png" border=0 alt="<TMPL_VAR site_name>" title="<TMPL_VAR site_name> - upload and share your files"></a>
<br>
With <TMPL_VAR site_name> you can upload & share any of your files for free.<br>Simply use the upload form below and start sharing!
<br><br>

<TMPL_VAR tmpl>

</div>
<br>
<a href="<TMPL_VAR site_url>">Home</a> | <a href="<TMPL_VAR site_url>/faq.html">FAQ</a> | <a href="<TMPL_VAR site_url>/tos.html">Terms of service</a> | <a href="<TMPL_VAR site_url>/contact.html">Contact Us</a>
</Center>

</BODY>
</HTML>
